<!-- Modal -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="addnewtakLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addnewtakLabel">
                    Add New Task
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<nav class="vertical-navbar d-flex flex-column">
    <ul class="nav flex-column mt-3">
        <li class="nav-item">
            <a class="nav-link" routerLink="/projects" title="Dashboard"
                ><i class="bi bi-menu-button-wide"></i
            ></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" title="Search"
                ><i class="bi bi-search"></i
            ></a>
        </li>
        <li class="nav-item">
            <a
                role="button"
                class="nav-link"
                title="New Issue"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
            >
                <i class="bi bi-plus-square"></i>
            </a>
        </li>
    </ul>

    <!-- Bottom icons -->
    <div class="mt-auto p-3">
        <div class="dropdown">
            <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="notificationsDropdown"
                role="button"
                title="Notifications"
            >
                <i class="bi bi-bell"></i>
                <!-- <i class="bi bi-bell-fill"></i> -->
                <!-- <span class="badge bg-danger">1</span> -->
            </a>
            <ul aria-labelledby="notificationsDropdown" class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Some news</a></li>
                <li><a class="dropdown-item" href="#">Another news</a></li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                data-bs-toggle="dropdown"
                href="#"
                id="profileDropdown"
                role="button"
            >
                <img
                    alt="Avatar"
                    class="rounded-circle me-2"
                    height="25"
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                    width="25"
                />
            </a>
            <ul aria-labelledby="profileDropdown" class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a></li>
                <!-- <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li> -->
            </ul>
        </div>
    </div>
</nav>
